body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator{
    width: 30%;
    height: 60%;
    background-color: orange;
    border: 2px solid black;
    padding: 25px;
}

#display{
    width: 90%;
    height: 40px;
    background-color: aliceblue;
    border-radius: 5px;
    border: 2px solid black;
}

#buttongrid{
    width: 90%;
    margin-top: 10px;
}

button{
    background-color: black;
    color: white;
    border-color: black;
    margin: 2px;
    padding: 20px;
    border-radius: 5px;
}