body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    width: 30%;
    height: 40%;
    background-color: rgb(255, 180, 40);
    border: 2px solid black;
    border-radius: 5px;
    padding: 25px;
}

#display{
    width: 90%;
    height: 40px;
    background-color: aliceblue;
    border-radius: 5px;
    border: 2px solid black;
}

#buttongrid{
    display: flex;
    width: 90%;
    margin-top: 10px;
    flex-wrap: wrap;
}

button{
    background-color: black;
    color: white;
    border-color: black;
    margin: 2px;
    padding: 15px;
    border-radius: 5px;
    flex-grow: 1;
}