#calaculator{
    width: 30%;
    height: 70%;
    background-color: orange;
    align-items: center;
    vertical-align: middle;
}

#display{
    width: 90%;
    height: 40px;
    background-color: aliceblue;
    border-radius: 5px;
}